* {
    background-color: black;
    color: darkred;
    text-align: center;
    justify-content: center;
    background-image:url("https://cdn.shopify.com/s/files/1/2490/1560/products/saw02_691aeb36-98a4-496e-a256-3097c931002a_800x.jpg?v=1563673283"); 
    background-size:initial;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* Tile of the quiz (Horror Movie Quiz) */
#quiz-name {
    font-family: 'Shlop', sans-serif;
    font-size: 5rem;
}

/* Timer */
#countdown {
    color:darkred;
    font-size: 4rem;   
}

/* Quiz Questions */
#title {
    justify-content:center;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 35px;
}
/* Start Button */
#startButton {
    width: 250px;
    height: 75px;
    margin-top: 100px;
    display: inline-block;
    color:white;
}

button {
    width: 250px;
    height: 80px;
    margin-right: 20px;
    /* margin-top: 35px; */
    font-size: medium;
    border-color: darkred;
    color: white;
    /* margin: 20px; */
}

#saveInitialsButton {
    color: white;
    width: 275px;
    height: 80px;
    margin: 30px 30px 30px 30px;
    /* padding: 0px 20px 0px 20px; */
}

#saveScoreDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#initialsLabel {
    color: white; 
}